.clickable {
    background-color: #000000;
    color: #ffffff;
}

.switch {
    background-color: rgb(255, 255, 0);
}

.clickable, .switch {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}